*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    color: white;
}

.container {
    display: grid;
    grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 1fr auto ;
    width: 100%;
    height: 100vh;
}

header{
    grid-area: header;
    background-color: rgb(51, 50, 50);
}

p{
    padding: 15px;
}

nav{
    grid-area: nav;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

nav a{
   text-decoration: none;
   color: white;
}

main{
    grid-area: main;
    background-color: gainsboro;
    color: black;
    padding: 15px;
}

aside{
    grid-area: aside;
    background-color: white;
    padding: 15px;
    color: black;
    padding: 15px;
}

footer{
    grid-area: footer;
    background-color: rgb(51, 50, 50);
    text-align: center;
    padding: 15px;
}
