:root {
  --primary-color: #6aace9;
  --secondary-color: #f2f2f2;
  --accent-color: #000000;
}

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", serif, arial;
}

body{
  background-color: var(--secondary-color);
  color: var(--accent-color);
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

header, footer{
  text-align: center;
  background-color: var(--primary-color);
  padding: 20px;
  color: var(--accent-color);
}

h2{
  text-align: center;
  color: var(--accent-color);
  padding: 10px;
  margin-bottom: 20px;
}

main{
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: var(--secondary-color)
}

.data-card, .weather-card{
  margin: 0 auto;
}

.weather-card h2::after {
  content: "";
}

.weather-icon{
  display: block;
  width: 80px;
  margin: 0 auto 1rem;
}

.description{
  text-align: right;
}

tr td{
  padding-left: 8px;
}

table{
  border-spacing: 8px;
  align-items: center;
}